.ansi-block {
    white-space: pre-wrap;
    font-family: var(--font-monospace);
    background-color: var(--background-primary-alt);
    padding: var(--size-4-2);
    border-radius: var(--radius-s);
    overflow-x: auto;
}

.ansi-toggle-button {
    position: absolute;
    right: 10px;
    top: 5px;
    /* Adjust according to line height */
    font-size: 12px;
    opacity: 0.6;
    z-index: 100;
    padding: 2px 6px;
    border-radius: 4px;
    background: var(--background-modifier-border);
    color: var(--text-normal);
}

.ansi-toggle-button:hover {
    opacity: 1;
    background: var(--interactive-accent);
    color: var(--text-on-accent);
}